azure-core==1.34.0
azure-identity==1.25.0
azure-search-documents==11.5.3
azure-storage-blob==12.25.1
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.77
langchain-experimental==0.3.4
langchain-ollama==0.3.6
langchain-openai==0.3.34
openai==2.0.1
numpy==2.3.1
pandas==2.3.0
streamlit==1.50.0
streamlit-chat==0.1.1
python-dotenv
unstructured



